/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  --base-color: #f16211;
  --international-orange-engineering: #F16211;
  --secondary-orange: #391907; 
  --cadet-blue-creyola: hsl(222, 14%, 69%);
  --oxford-blue-1: hsl(222, 47%, 15%);
  --oxford-blue-2: hsl(222, 44%, 14%);
  --oxford-blue-3: hsl(222, 50%, 11%);
  --sonic-silver: hsl(0, 0%, 44%);
  --space-cadet: hsl(222, 44%, 18%);
  --pastel-pink: hsl(1, 53%, 75%);
  --eerie-black: hsl(0, 0%, 15%);
  --light-gray: hsl(0, 0%, 80%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography
   */

   --ff-chakra-petch: 'Chakra Petch', sans-serif;
   --ff-mulish: 'Mulish', sans-serif;
   --ff-Poppins: 'Poppins', sans-serif;
   --ff-Inter: 'Inter', sans-serif;
   
   --fs-1: 3.5rem;
   --fs-2: 3rem;
   --fs-3: 2.4rem;
   --fs-4: 1.8rem;
   --fs-5: 1.4rem;
   --fs-6: 1.2rem;
   
   --fw-400: 400;
   --fw-600: 600;
   --fw-700: 700;
/**
   * typography
   */

   --ff-chakra-petch: 'Chakra Petch', sans-serif;
   --ff-mulish: 'Mulish', sans-serif;
   --ff-Poppins: 'Poppins', sans-serif;
   --ff-Inter: 'Inter', sans-serif;
   
   --fs-1: 3.5rem;
   --fs-2: 3rem;
   --fs-3: 2.4rem;
   --fs-4: 1.8rem;
   --fs-5: 1.4rem;
   --fs-6: 1.2rem;
   
   --fw-400: 400;
   --fw-600: 600;
   --fw-700: 700;
 
   /**
    * spacing
    */
 
   --section-padding: 60px;
 
   /**
    * box shadow
    */
 
   --shadow: 0px 0px 100px 0px hsl(216, 9%, 90%);
 
   /**
    * border radius
    */
 
   --radius-pill: 100px;
   --radius-circle: 50%;
 
   /**
    * transition
    */
 
   --transition: 0.25s ease;
   --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97); 

}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


li { list-style: none; }

a,
img,
span,
button { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

address { font-style: normal; }

html {
  font-family: var(--ff-mulish);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--eerie-black);
  color: var(--sonic-silve);
  font-size: 1.6rem;
  line-height: 1.5;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: var(--eerie-black); }

::-webkit-scrollbar-thumb { background-color: var(--international-orange-engineering); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/


.container { 
  padding-inline: 16px;
}

.material-symbols-rounded {
  --fs: 1em;
  font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 40;
  font-size: var(--fs);
  width: 1em;
  overflow: hidden;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.section {
  padding-block: var(--section-padding);
}

.section-subtitle {
  max-width: max-content;
  font-family: var(--ff-chakra-petch);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  margin-block-end: 12px;
  margin-inline: auto;
}

.section-subtitle::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 30px;
  margin-block-end: -2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section-subtitle.\:dark { color: var(--white); }

.section-subtitle.\:dark::before { background-image: url('../images/text-bars-light.png'); }

.section-subtitle.\:light { color: var(--international-orange-engineering); }

.section-subtitle.\:light::before { background-image: url('../images/text-bars-dark.png'); }

.section-title { text-align: center; }

.h1,
.h2,
.h3,
.display-1 {
  font-family: var(--ff-Inter);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

.display-1 { font-size: var(--fs-1); }

.h1 {
  color: var(--white);
  font-size: var(--fs-2);
  line-height: 1.1;
  letter-spacing: 1px;
}

.h2,
.h3 {
  color: var(--eerie-black);
  font-weight: var(--fw-600);
  line-height: 1.2;
}

.h2 { font-size: var(--fs-3); }

.h3 { font-size: var(--fs-4); }

.btn {
  background-color: var(--international-orange-engineering);
  color: var(--white);
  max-width: max-content;
  font-family: "Poppins",;
  font-weight: var(--fw-600);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: var(--radius-pill);
  transition: var(--transition);
  will-change: transform;
}

.btn:is(:hover, :focus-visible) {
  transform: translateY(-5px);
  background-color: var(--white);
  border-color: none;
  color: var(--international-orange-engineering);
}

.move-anim { animation: moving 2s ease-in-out infinite alternate; }

@keyframes moving {
  0% { transform: translateY(0); }
  100% { transform: translateY(10px); }
}

.section { padding-block: var(--section-padding); }

.btn-link {
  font-family: var(--ff-Inter);
  text-transform: uppercase;
  color: var(--international-orange-engineering);
  font-weight: var(--fw-700);
}

.w-100 { width: 100%; }

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.has-scrollbar {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 20px;
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar { height: 16px; }

.has-scrollbar::-webkit-scrollbar-track {
  background-color: var(--pastel-pink);
  border-radius: 20px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--international-orange-engineering);
  border-radius: 20px;
  border: 3px solid var(--pastel-pink);
}

.has-scrollbar::-webkit-scrollbar-button { width: 15%; }

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.header .btn { display: none; }

.header {
  position: relative;
  color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 15px;
  padding-inline-start: 40px;
  z-index: 4;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img { width: 100px; }

.nav-toggle-icon {
  width: 30px;
  height: 2px;
  background-color: var(--white);
  transition: var(--transition);
}

.nav-toggle-icon:not(:last-child) { margin-block-end: 7px; }

.nav-toggle-btn.active .icon-2 {
  opacity: 0;
  transform: translateX(-10px);
}

.nav-toggle-btn.active .icon-1 { transform: rotate(45deg) translate(8px, 8px); }

.nav-toggle-btn.active .icon-3 { transform: rotate(-45deg) translate(4px, -4px); }

.navbar {
  position: absolute;
  top: 100px;
  right: 30px;
  background-color: var(--international-orange-engineering);
  min-width: max-content;
  width: 30%;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
  z-index: 2;
}

.navbar.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition-duration: 0.5s;
}

.navbar-link {
  font-family: var(--ff-Inter);
  font-size: var(--fs-5);
  text-transform: uppercase;
  color: var(--white);
  padding: 10px 20px;
  transition: var(--transition);
}

.navbar-link:is(:hover, :focus-visible) {
  background-color: var(--white);
  color: var(--international-orange-engineering);
}



/*-----------------------------------*\
  #SIGN IN / SIGN UP
\*-----------------------------------*/

.btn-login {
  width: 320px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 70px;
  background: var(--base-color);
  color: var(--white);
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  transform: scale(1);
  position: relative;
  width: 400px;
  margin: auto;
  background-color: var(--white);
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform .5s ease, .2s ease;
  z-index: 1;
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  /* display: none; */
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px)
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}

.form-box h2 {
  font-size: 2em;
  color: var(--base-color);
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--base-color);
  margin: 30px 0;
  color: var(--eerie-black);
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--base-color);
  font-weight: 500;
  pointer-events: none;
  transition: .3s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;

}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--base-color);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: var(--eerie-black);
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: var(--base-color);
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label {
  accent-color: var(--base-color);
  margin-right: 3px;
}

.remember-forgot a {
  color: var(--base-color);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn-register{
  width: 320px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 70px;
  background: var(--base-color);
  color: var(--white);
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-register:hover {
  color: var(--white);
    text-shadow: 0 0 25px var(--white),
                 0 0 50px var(--white);
    transform: scale(1, 1);
}

.btn-login:hover {
   color: var(--white);
    text-shadow: 0 0 25px var(--white),
                 0 0 50px var(--white);
    transform: scale(1, 1);
}

.login-register {
  font-size: .9em;
  color: var(--base-color);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;

}

.login-register p a {
  color: var(--base-color);
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  justify-content: space-between;
  background-color: #333;
  color: #e5e5e5;
  position: relative;
  width: 100%;
  font-weight: 300;
  color: var(--cadet-blue-creyola);
}

.footer .shape { display: none; }

.footer-top { background-color: var(--eerie-black); }

.footer-top .container {
  display: grid;
  gap: 40px;
}

.footer-text { margin-block: 18px 20px; }

.social-list {
  display: flex;
  gap: 8px;
}

.social-link {
  background-color: var(--secondary-orange);
  padding: 14px;
  border-radius: var(--radius-circle);
  transition: var(--transition);
}

.social-link:is(:hover, :focus-visible) {
  background-color: var(--international-orange-engineering);
  transform: translateY(-5px);
}

.footer .h3 {
  color: var(--white);
  margin-block-end: 18px;
}

.footer-list .p {
  color: var(--white);
  font-weight: var(--fw-400);
  margin-block-end: 7px;
}

.footer-list li:not(:first-child) { margin-block-start: 16px; }

.footer-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-link:is(:hover, :focus-visible) { color: var(--international-orange-engineering); }

.footer-link .material-symbols-rounded {
  flex-shrink: 0;
  font-size: 1.8rem;
  color: var(--international-orange-engineering);
}

.footer-bottom {
  background-color: var(--secondary-orange);
  padding-block: 20px;
}

.copyright {
  font-size: var(--fs-6);
  text-align: center;
}


/*  */

.alamat-footer {
  text-align: center;
}

.follow {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr; /* Satu kolom */
  grid-row-gap: 10px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.social-media a {
  color: #e5e5e5;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/



@media (max-width: 430px) {
/**
   * LOGIN / SING Up
   */
   .wrapper {
    max-width: 320px;
    width: 100%;
    margin-inline: auto;
  }

  .btn-login {
    max-width: 240px;
    width: 100%;
    margin-inline: auto;
  }

  .btn-register {
    max-width: 240px;
    width: 100%;
    margin-inline: auto;
  }
}

/**
 * responsive for large than 575px screen
 */

 @media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 4rem;
    --fs-3: 2.8rem;
    --fs-4: 2rem;

  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .section-subtitle { --fs-5: 1.6rem; }

  .h2 { font-weight: var(--fw-700); }

  /**
   * FOOTER
   */

  .footer-top {
    position: relative;
    overflow: hidden;
  }

  .footer-top .container { grid-template-columns: 1fr 1fr; }

  .footer .shape-3 {
    display: block;
    position: absolute;
    bottom: -30px;
    right: 0;
  }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 4rem;
    --fs-2: 5rem;
    --fs-3: 3.4rem;

  }

  /**
   * REUSED STYLE
   */

  .container,
  .hero-content { max-width: 720px; }

  .btn { padding: 16px 32px; }

  .section-subtitle { --fs-5: 1.8rem; }

  .section-title:not(.h1) {
    max-width: 500px;
    margin-inline: auto;
  }

  /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: 1fr 0.9fr 0.9fr; }

  .copyright { --fs-6: 1.4rem; }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 4.4rem;
    --fs-3: 3.8rem;
    --fs-4: 2.2rem;

    /**
     * spacing
     */

    --section-padding: 100px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  .section-text,
  .card-text { font-size: 1.8rem; }



  /**
   * HEADER
   */

  .nav-toggle-btn { display: none; }

  .header .container { gap: 30px; }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
    margin-inline-start: auto;
  }

  .navbar-list { display: flex; }

  .navbar-link {
    position: relative;
    font-size: unset;
  }

  .navbar-link:is(:hover, :focus-visible) {
    background: none;
    color: var(--white);
  }

  .navbar-link::after {
    content: url("../images/nav-before-img.png");
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }

  .navbar-link:is(:hover, :focus-visible)::after { opacity: 1; }

  .header .btn {
    display: flex;
    padding: 12px 24px;
    font-size: var(--fs-5);
  }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 5rem;
    --fs-3: 4.6rem;

  }



  /**
   * REUSED STYLE
   */

  .container,
  .hero .container { max-width: 1140px; }

  .btn { padding: 18px 36px; }

  .btn .material-symbols-rounded { --fs: 1.3em; }



  /**
   * HEADER
   */

  .header { padding-block: 25px; }

  .logo img { width: 128px; }

  .header .btn {
    font-size: unset;
    padding-block: 15px;
  }

  /**
   * FOOTER
   */

  .footer-top { padding-block: 150px; }

  .footer-top .container { padding-inline-start: 25%; }

  .footer-bottom {
    position: relative;
    padding-block: 30px;
    z-index: 1;
  }

  .footer :is(.shape-1, .shape-2) {
    display: block;
    position: absolute;
    bottom: 0;
    width: 50%;
    pointer-events: none;
    z-index: -1;
  }

  .footer .shape-1 { left: -100px; }

  .footer .shape-2 { left: -50px; }

}





/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 6rem;

    /**
     * spacing
     */

    --section-padding: 140px;

  }



  /**
   * REUSED STYLE
   */

  :is(.header, .hero) .container { max-width: 1280px; }

  .section-subtitle::before {
    height: 20px;
    margin-inline-end: 5px;
  }



  /**
   * HEADER
   */

  .header .btn { padding: 18px 36px; }

  

  /**
   * FOOTER
   */

  .footer-top .container { padding-inline-start: 20%; }

}